# **Feature Scalling**

In [1]:
# Install sklearn
# %pip install scikit-learn

# **1- Mix Max Scaler**

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

data = {'Values':[10,20,30,40,50,60,70,80,90]}
df = pd.DataFrame(data)

In [ ]:
# Data 
data = {'Values':[10,20,30,40,50,60,70,80,90]}
df = pd.DataFrame(data)
# Scale the data using MinMaxScaler method
scaler = MinMaxScaler()
df['MinMaxScaler'] = scaler.fit_transform(df[['Values']])
df.head()

   Values  MinMaxScaler
0      10         0.000
1      20         0.125
2      30         0.250
3      40         0.375
4      50         0.500

# **2- Standard scaler or Z-score normalization**

In [19]:
# Data 
data = {'Values':[1000,20,30,840,530,605,730,80,90]}
df = pd.DataFrame(data)
scaler = StandardScaler()
df['StandardScaler'] = scaler.fit_transform(df[['Values']])
df.head()

   Values  StandardScaler
0    1000        1.551081
1      20       -1.144591
2      30       -1.117084
3     840        1.110972
4     530        0.258259

# **3- Robust scaler**

In [20]:
# Data 
data = {'Values':[1000,20,30,840,530,605,730,80,90]}
df = pd.DataFrame(data)
scaller = RobustScaler()
df['RobustScaler'] = scaler.fit_transform(df[['Values']])
df.head()

   Values  RobustScaler
0    1000      1.551081
1      20     -1.144591
2      30     -1.117084
3     840      1.110972
4     530      0.258259

# **4- Logarithmic scaler / normalization**

In [24]:
data = {'Values':[1000, 10000, 100001, 120000, 1400000]}
df = pd.DataFrame(data)

df['Log'] = np.log(df[['Values']])
df['Log10'] = np.log2(df[['Values']])
df.head()

    Values        Log      Log10
0     1000   6.907755   9.965784
1    10000   9.210340  13.287712
2   100001  11.512935  16.609655
3   120000  11.695247  16.872675
4  1400000  14.151983  20.416995