# **Feature Encoding**

# 1- One Hot Encoding

In [10]:
import pandas as pd

data = {'color':['Red', 'Blue', 'Green', 'Yellow']}

df = pd.DataFrame(data)

df

df1 = pd.get_dummies(df, columns=['color'])

df1

   color_Blue  color_Green  color_Red  color_Yellow
0       False        False       True         False
1        True        False      False         False
2       False         True      False         False
3       False        False      False          True

# 2- Label Encoding

In [11]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

data = {'color':['Red', 'Blue', 'Green', 'Yellow']}

df = pd.DataFrame(data)

df

df['Label_Encoder'] = encoder.fit_transform(df['color'])

df

    color  Label_Encoder
0     Red              2
1    Blue              0
2   Green              1
3  Yellow              3