# **Feature Encoding**

# 1- One Hot Encoding

In [15]:
import pandas as pd

# simple data
data = {'color':['Red', 'Blue', 'Green', 'Yellow']}
df = pd.DataFrame(data)
print(df)

# one hot encoding
df1 = pd.get_dummies(df, columns=['color'])

df1

    color
0     Red
1    Blue
2   Green
3  Yellow

   color_Blue  color_Green  color_Red  color_Yellow
0       False        False       True         False
1        True        False      False         False
2       False         True      False         False
3       False        False      False          True

# 2- Label Encoding

In [17]:
from sklearn.preprocessing import LabelEncoder

# simple data
data = {'animals':['Dog', 'Cat', 'Birt', 'dog', 'Cat']}
df = pd.DataFrame(data)
print(df)

# Lable encoding
encoder = LabelEncoder()

df['Label_Encoder'] = encoder.fit_transform(df['animals'])

df

  animals
0     Dog
1     Cat
2    Birt
3     dog
4     Cat

  animals  Label_Encoder
0     Dog              2
1     Cat              1
2    Birt              0
3     dog              3
4     Cat              1

# 3- Ordinal  Encoding

In [29]:
from sklearn.preprocessing import OrdinalEncoder
data = {'size':['Small', 'Medium', 'Large', 'Medium', 'Small']}
df = pd.DataFrame(data)
print(df)

# Ordinal Encding
df_OrdinalEncoder = OrdinalEncoder(categories=[['Small', 'Medium', 'Large']])
df['OrdinalEncoder'] = df_OrdinalEncoder.fit_transform(df[['size']])
print(df)

     size
0   Small
1  Medium
2   Large
3  Medium
4   Small
     size  OrdinalEncoder
0   Small             0.0
1  Medium             1.0
2   Large             2.0
3  Medium             1.0
4   Small             0.0